.Appe {
  text-align: center;
  margin: auto;
  justify-content: center;
}
.gridBox{
  height: 600px;
  width: 600px;
  margin: auto auto;
  gap: 0;
  }
  
  .onebox{
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    /* aspect-ratio: 1; */
  }
  .twobox{
    margin: 0; 
    padding: 0;
  }
  
  .innerBox{
    width: 80%;
    height:100%;
    margin: 0; 
    padding: 0;
  }
  
  .upperbtn{
    height:100%;
    width: 80%;
  }
  .lowerbtn{
    height:20%;
    width: 80%;
  }
  
  .sidebtn{ 
    width: 20%;
    height: 100%;
  }
  
  .sidelastbtn{
    width: 20%;
    height:80% ;
  }
  button{
    border:0;
    padding: 0;
  }
  .chance{
    width:150px;
    margin:auto;
    animation:chance 2000ms infinite linear;
  }
  @keyframes  chance{
  0%{
    background-color: rgb(86, 86, 178);
    transform: scaleX(1);
    color: white;
    border-radius: 5px;
  }
  60% {
    background-color: rgb(48, 48, 170);
    transform: scaleX(1.3);
    color:lightgrey;
    border-radius: 5px;
  }
}
  .start-default{
    animation:start 2000ms infinite linear;
  }
  .result{
    margin:auto;
    width:200px;
    animation:chance 1500ms infinite linear;
  }
  
@keyframes  start{
  0%{
    background-color: rgb(86, 86, 178);
    font-size: small;
    color: white;
    border-radius: 5px;
  }
  60% {
    background-color: rgb(48, 48, 170);
    font-size: larger;
    color:lightgrey;
    border-radius: 5px;
  }
}